<f:layout name="Default" />
<f:section name="main">
 <div class="row">
    <div class="column">
    <div class="botocharts-header clearfix"><h2>{data.header}</h2></div>
    <div id="boto_chart_{data.uid}"></div>
<script type="text/javascript"><!--
if (botochartsArray !== undefined) {
    botochartsArray.push(<f:format.raw>{chartData}</f:format.raw>);
} else {
    var botochartsArray = new Array(<f:format.raw>{chartData}</f:format.raw>);
}
-->
</script>
    </div>
</div>
</f:section>
